



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, Arial, sans-serif;
    
}


header nav{
    height:80px;
    background-color: rgb(59, 58, 58);
    color: white;
    display: flex;
    justify-content: space-between;
    display: flex;
    z-index: 1;
}


header nav ul,.val6{
    list-style: none;
    display: flex;
    align-items: center;
}

header nav li{
    padding: 15px 10px;
}
header nav span{
    padding: 0px 10px;
}
header nav a{
    text-decoration: none;
    color: inherit;
    padding: 15px 10px;
}

/* header{
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
} */
main{
  height: calc(100vh - 80px);
  display: flex;

}
main aside{
    width: 200px;
    height: 100%;
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
/* main aside ul{ */
    
    /* align-content: center; 
    display: flex; */
/* } */
main aside li{
    padding: 10px 10px;
    list-style: none;
    color:grey;
}

main aside a{
    color: inherit;
    text-decoration: none;
}
.overflow-auto{
    overflow:auto;
}

.hidden{
    visibility: hidden;
}

.top-bar{
    height: 100px;
    background-color: rgb(23, 23, 29);
    width: calc(100% - 200px);

    position: fixed;
    top:0;
    right:0 ;
  
}
.mainbody{
    overflow: hidden;
    height:100vh;
    width: 100%;
}

.top-bar  a{
    height: 30px;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    
    border:1px solid white;
    padding: 15px;
    text-decoration: none;
}

.clearfix::after{
    clear:both;
    display: table;
    content:"";
}
.float-right{
    float: right;
    line-height: 100px;
    vertical-align: middle;
    padding-right: 30px;
}
.img-size{
    padding:10px 0;
    width: 150px;
    margin-left: -30px;
}
.img-size2{
    width: 25px;
}
.margin-left{
    margin-left: 2px;
}
.val{
    line-height: 25px;
    vertical-align: middle;
    
}
.val2{
    line-height: 32px;
    vertical-align: middle;
}
.text-white{
    color: white;
}
.img-size3{
    width: 20px;
}
.bg-greybd{
    background-color: gray;
    border-radius: 50%;
}
.fontsizebig{
    font-size: 20px;
}
.val3{
    line-height: 20px;
    vertical-align: middle;
}
.val4{
    line-height:5px;
    vertical-align: middle;
}
.pdright{
    padding-right: 5px;
}
.flex-grow{
    flex-grow: 1;
}
.hr{
   margin-left: 10px;
   margin-right: 10px;
}
.text-gray{
    color: gray;
}
.fsmall{
    font-size: 11px;
}
.mrg{
    padding-top: 10px;
    margin-bottom: -10px;
    
}
.hr1{
    width: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}
.hr2{
    width:70px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: -5px;
    background-color: gray;
}
.inblock{
    display: inline-block;
}
.textalign{
    text-align: center;
}
.hr3{
    width: 90px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}
.hr4{
    width:200px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: -5px;
    background-color: gray;
}
.padd-{
    margin-right: -20px;
}
.val5{
    vertical-align: middle;
    line-height: 20px;
}
.herobg{
    background-color: rgb(30, 30, 31);
    height: calc(100% - 100px);
    margin-top: 100px;
    width: calc(100% - 200px);
}
.top-bar2{
    display: flex;
    justify-content: center;
    color: gray;
   
}
.top-bar2 a{
    text-decoration: none;
    color: inherit;
    

}
.top-bar2 li{
    list-style: none;
    padding: 10px 10px;
}
.hrgreen{
    margin: auto;
    width: 35px;
    border: 1px solid greenyellow;
}
.title{
    padding: 30px 10px;
}
.col{
    width:calc(100% / 6);
    padding:10px 10px;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 100%;
}
.box2{
    width: 100%;
    border-radius: 50%;
}
.col h4,p {
    padding-top: 10px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width:100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.363);
   
}
.overlay2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width:100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 50%;
}
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.playu:hover{
    color: white;
}
.relative{
    position: relative;
}
.relative:hover .overlay {
    opacity: 1;
}
.relative:hover .overlay2 {
    opacity: 1;
}
.white-hover:hover{
    color: white;
}
.white-hover2:hover{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 0;
}
.green-hover:hover{
    border:2px solid greenyellow;
    border-radius: 5px;
    background-color: greenyellow;
}
.fnt-hover:hover{
    font-size: 40px;
   
}
.padding-hover:hover{
    padding: 20px;
    font-size: 18px;
}

@media screen and (min-width:992px) and (max-width:1199px){
    .col{
        width: calc(100% / 4 );
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .col{
        width: calc(100% / 2 );
    }
    .hr3{
        width: 30px;
    }
    .hr4{
        width: 100px;
    }
    .hr1{
        width: 20px;
    }
    .hr2{
        width: 50px;
    }

}
@media screen and (min-width:0px) and (max-width:767px){
    .col{
        width: calc(100% / 2 );
    }
    .hr3{
        width: 20px;
    }
    .hr4{
        width: 80px;
    }
    .hr1{
        width: 10px;
    }
    .hr2{
        width: 30px;
    }
    .vsnone{
        visibility: hidden;
    }
    .hidden{
        visibility: visible;
       
        margin-bottom: -50px;
    }
    main aside{
        width: 50px;
    }
    .top-bar{
        width:calc(100% - 50px)
    }
    .herobg{
        width: calc(100% - 50px);
    }
    main aside li{
        padding:0 10px;
    }
   .dispblock{
        display: block;
   }
   .fntsize12{
       font-size: 12px;
   }
   
}
