*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: arial;
}
.mainbody{
    height: 100vh;
    width:100%;
    overflow:hidden;
  
    
}
.fontsize11{
    font-size: 11px;
}
.fontsize13{
    font-size:13px;
}
.fontsize15{
    font-size: 15px;
}
.imgsize2{
   height: 25px;
   width: 40px;
}
.imgsizedownload{
    height: 20px;
    width:30px;
}
.verticalalign{
    vertical-align: middle;
    line-height:30px ;
}
.textdecorationnone{
    text-decoration: none;
    color:inherit
}

.text-white{
    color: white;
}
.text-black{
    color:black
}
.text-gray{
    color: #b3b3b3;
}
.bggray2{
    background-color: #b3b3b3;
}
.bggray{
    background-color: #2e2c2c;
}
.bgblack{
    background-color: #000;
}
nav{
    height:80px;
    width:100%; 
}
main{
    height: calc(100vh - 80px);
}
.widthaside{
    width:250px;
   
    
}
.marginl{
    margin-left: 15px;
}
.marginl2{
    margin-left:25px;
}
.margint{
    margin-top: 15px;
}
.margint2{
    margin-top: 10px;
}
.margint3{
    margin-top: 280px;
}
.marginr{
    margin-right: 15px;
}
.marginr2{
    margin-right: 30px;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
}
.container-flex{
    display: flex;
}
.imagine-sinister{
    width:40px;
    height:40px;

}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}

.imgsize{
   
    width: 100%;
    max-width: 131px;
    height: 40px;
} 
.liststyle{
    list-style: none;
}
.overflow-scroll{
    overflow: auto;
   
   
    
}
.marginb{
    margin-bottom: 40px;
}
.marginb2{
    margin-bottom: 10px;
}
.imgsize3{
    width:10px;
    height:10px;
}
.h300{
    height:300px;
}
.inlineblock{
    display: inline-block;
}
.verticalalign2{
    vertical-align: middle;
    
}
.text-grayhr{
    border: 1px solid #b3b3b3;
}
.bgcircle{
    border-radius: 50%;
    background-color:#b3b3b3 ;
}
.imgsize4{
    width:30px;
    height:30px;
}
.widthsinisterdiv{
    width: 250px;
    height: 80px;
}
.align-items{
    align-items: center;
}
.justify-contentc{
    justify-content: center;
}
.justify-content{
    justify-content: space-between;
}
.verticalalign3{
    vertical-align: middle;
    line-height: 50px;
  
}

/* .text {
    width: 40px;
    height: 40px;
    background-color: red;
    align-self: center;
} */
.fontsize10{
    font-size: 10px;
}
.fontsize9{
    font-size: 9px;
}
.divwidth{
    height: 40px;
}
.fontsize8{
    font-size: 8px;
}
.bdhr{
    border:2px solid white;
    border-radius: 5px;
    width:60px;
}
.bdhr2{
    border:2px solid #b3b3b3;
    border-radius: 5px;
    width:300px;
}
.bdhr3{
    border:2px solid white;
    border-radius: 5px;
    width:30px;
}
.bdhr4{
    border:2px solid #b3b3b3;
    border-radius: 5px;
    width:50px;
}
.topbar{
    height: 80px;
    background-color: rgb(10, 10, 15);
    top:0;
    right: 0;
    position: absolute;
    width: calc(100% - 250px);
}
.float-right{
    float:right;
}
.clearfix{
    clear: both;
    content: "";
    display: table;
}
.buttonclass{
    background-color: transparent;
    padding:8px;
    border-radius: 15px;
    border:1px solid white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 80px;
}
.herobg{
    height: calc(100% - 80px);
    background-color:rgb(36, 36, 51); 
    width: calc(100% - 250px);
    top:80px;
    right: 0;
    position: absolute;
}
.z-index0{
    z-index: 0;
}
.z-index1{
    z-index: 1;
}
.width1{
    width: 100%;
    height: 100px;
}
.textaligncenter{
    text-align: center;
}
.textdecorationnone2{
    color: inherit;
    border-bottom:2px solid rgb(160, 235, 22) ;
   
    text-decoration: none;
}
.marginauto{
    max-width:1000px; 
    margin: auto;
}
.box{
    width:180px;
    height: 180px;
  
}
.box2{
    width:180px;
    height: 180px;
    border-radius: 50%;
}
.downloadsize{
    height:290px;
}
.margint4{
    margin-top:240px;
}
